@import "reset.css";

html {
    font-family: Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT'   ;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    padding-top: 10vh;
}

.buttons-container {
    margin-top: 2vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 20% 10% 20% 25%;
}

#search-button {
    grid-column: 2 / 3;
}

#lucky-button {
    grid-column: 4 / 5;
}

.search-form {
    width: 50%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.submit-button {
    background-color: #F2F2F2;
    border-style: none;
    align-items: center;
    padding: 10px 0px;
}

#logo {
    width: 25%;
}

#search-box {
    width: 100%;
    height: 50%;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

nav {
    display: flex;
    justify-content: flex-end;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

nav ul, footer ul { 
    display: flex;
    list-style-type: none;
}

nav ul li, footer ul li {
    margin: 10px;
}


